body{
    background-color: rgb(250, 203, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

h1{
    font-weight: 600;
    margin-bottom: 30px;
}





